/* global */
@import url("https://fonts.googleapis.com/css?family=Roboto");
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  min-height: 100vh; /* Ensure body fills the viewport */
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
  padding: 2px 2px;
  border-bottom: rgba(255, 255, 255, 0.337) solid;
}

nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

nav a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #101214;
  color: #7a7c80;
  background-image: url(panoramic-view-sunset-night.jpg);
  background-size: auto auto;
}

.por {
  width: 200px;
  margin-top: 0;
  padding-top: 0;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(2, 110, 2);
}

.soc {
  width: 7vh;
}

h4 {
  color: #c0c9da;
  padding: 0;
  margin: 10px;
}

h2,
.white {
  color: #fff;
}

a {
  color: #7a7c80;
  text-decoration: none;
}

.section-1 {
  padding-top: 10vh;
  text-align: center;
}

.section-1 p {
  font-size: 1.1rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-1 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-1 .soc {
  font-size: 1rem;
  padding: 10px;
  border-radius: 60px;
  box-shadow: 5px 5px 5px rgb(2, 110, 2);
}

.section-2 {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  margin-right: 10vh;
  margin-left: 5vh;
}

.section-2 .exp {
  align-self: start;
}

.section-2 .ski {
  align-self: center;
}

.proj {
  align-self: end;
}

.section-2 h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.section-2 p {
  font-size: 1rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-2 a {
  padding: 5px;
  font-size: 1.2rem;
  width: 100px;
}

.section-2 a:hover {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.section-1 a:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.white:hover {
  position: relative;
  padding-left: 10px;
}

/* @media (min-width: 1300px) {
  body {
    padding: 0 10vh;
  }
} */

@media (max-width: 860px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  nav ul li {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: none;
  }

  .grid-2 {
    grid-template-columns: 1fr;
    /* height: 100%; */
  }

  .section-1 {
    padding: 0;
    padding-top: 2rem;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20vh;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .section-2 .exp,
  .section-2 .proj {
    align-self: center;
  }

  .section-2 h4 {
    padding-bottom: 5vh;
    align-self: center;
  }

  .exp,
  .ski {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ski ul {
    text-decoration: none;
    padding: 0;
  }
}
