@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInFromCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromCenter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-loading {
  animation: fadeInFromCenter 1.5s ease-out forwards;
}

.animation-fade-in {
  animation: fadeIn 1.5s;
}

.background-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/panoramic-view-sunset-night.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.random-dots-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.dot {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  animation: zoomIn 2s infinite alternate;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
